[Unit]
Description=Remind players about games they have not bet on

[Timer]
OnCalendar=*-09..12-* 18:00:00
OnCalendar=*-01,02-* 18:00:00
Unit=tippspiel-job@bet-reminder.service
Persistent=true

[Install]
WantedBy=timers.target
