.game {
  width: 23rem;
  padding: 0.25rem 0;
  display: flex;
  flex-wrap: wrap;
}

.away,
.home {
  width: 7rem;
  padding: 6px 0.5rem;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

button.home,
button.away {
  font-size: 1rem;
  line-height: 1.5rem;
  height: 2.5rem;
}

button.home:disabled,
button.away:disabled {
  opacity: 0.75;
}

.input {
  margin-left: 0.25rem;
  width: 2.75rem;
  text-align: center;
  font-size: 1rem;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

.more {
  text-align: center;
  font-size: 0.5rem;
}

.panel-indicator {
  display: flex;
  justify-content: flex-end;
  align-items: center;

  padding: 0.25rem;
  width: 1.5rem;
  height: 2.5rem;
}

.arrow {
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  height: 0.5rem;
  width: 0.5rem;
  padding: 3px;
}

.up {
  transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
  transition: transform 0.25s ease;
}

.down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  transition: transform 0.25s ease;
}

@media screen and (min-width: 900px) {
  .game {
    width: 39rem;
    display: flex;
  }

  .home,
  .away {
    width: 14.5rem;
  }
}
