.schedule {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(23rem, 1fr));
  grid-gap: 0.5rem;
  justify-items: center;
}

.bye {
  max-width: 23rem;
}

.label {
  font-size: 1.5rem;
}

.time {
  color: #999;
  padding-top: 0.5rem;
}

.reload {
  color: #333333;
  background-color: #ffffff;
  border: 1px solid #424242dd;
  box-shadow: "none";
}

@media screen and (min-width: 28rem) {
  .schedule {
    grid-template-columns: repeat(auto-fill, minmax(27rem, 1fr));
    grid-gap: 1rem;
  }

  .bye {
    max-width: 27rem;
  }
}

@media screen and (min-width: 45rem) {
  .schedule {
    grid-template-columns: repeat(auto-fill, minmax(39rem, 1fr));
    grid-gap: 1rem;
  }

  .bye {
    max-width: 39rem;
  }
}
