.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 64px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 1.5rem;
  color: white;
  padding: 0 16px;
}

.body {
  padding: 16px 16px 0 16px;
  display: flex;
  justify-content: space-between;
}

Leaderboard {
  grid-column-start: 4;
  grid-column-end: 5;
}

Schedule {
  grid-column-start: 2;
  grid-column-end: 3;
}
