.App-header {
  position: sticky;
  grid-area: header;
  font-size: 1.5rem;
  color: white;
  background-color: #282c34;
  height: 64px;
  padding: 0 16px;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.leaderboard {
  position: fixed;
  top: 96px;
  right: 0;
  min-width: 300px;
  grid-area: sidebar;
}

.schedule {
  height: 100vh;
  overflow-y: scroll;
  min-width: 550px;
  grid-area: content;
  padding: 0 300px 0 16px;
}
