.App {
  height: 100vh;
  width: 100vw;
}

.header {
  position: fixed;
  pointer-events: auto;
  background-color: #282c34;
  height: 3rem;
  width: 100vw;
  padding: 0 1rem;
  z-index: 9999;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav span {
  color: #fff;
  text-decoration: none;
  padding-right: 1rem;
}

.tippspiel {
  font-weight: 600;
}

.schedule {
  min-width: 23rem;
  grid-area: content;
  padding: 0 0.25rem 2rem 0.25rem;
}

.loading {
  font-size: 0.5rem;
}

main {
  padding: 3rem 0 0 0;
}

button {
  border-radius: 0.25rem;
  border: 1px solid #000;
  background-color: #fff;
  height: 2rem;
}

* {
  color: #212529;
  box-sizing: border-box;
}

html {
  -webkit-text-size-adjust: 100%;
}
