@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  button {
    @apply rounded border border-black;
    @apply h-8 bg-white dark:bg-gray-600 dark:text-gray-100;
    @apply text-sm px-1.5;
    @apply disabled:pointer-events-none;
  }

  h2 {
    @apply text-2xl my-4;
  }
}

.team {
  @apply py-1.5 px-2 h-10 w-7r sm:w-8.5r md:w-14.5r;
  @apply truncate text-base outline-none;
  @apply disabled:opacity-50 dark:disabled:opacity-70 shadow-none;
  @apply border-2 dark:bg-gray-500;
  @apply disabled:bg-gray-100 dark:disabled:bg-gray-600;
}

.team-l {
  @apply py-1.5 px-2 h-10 w-23r;
  @apply truncate text-base outline-none;
  @apply disabled:opacity-70 dark:disabled:opacity-80 shadow-none;
  @apply border-2 dark:bg-gray-500;
  @apply disabled:bg-gray-100 dark:disabled:bg-gray-700;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}
