.schedule-inner {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(550px, 1fr));
  grid-gap: 1rem;
}

.week {
  padding-top: 2rem;
}

.label {
  font-size: 1.5rem;
}

.time {
  color: #999;
  padding-top: 8px;
}

.game {
  min-width: 550px;
  min-height: 32px;
  padding: 4px;
  display: flex;
}

.home {
  min-width: 220px;
}

.away {
  min-width: 220px;
}

.input {
  width: 32px;
  margin: 0 4px;
  text-align: center;
}

.at {
  text-align: center;
  min-width: 30px;
  line-height: 40px;
}
