.schedule-inner {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(22rem, 1fr));
  grid-gap: 0.5rem;
  justify-items: center;
}

.bye {
  max-width: 39rem;
}

.week {
  padding-top: 2rem;
}

.label {
  font-size: 1.5rem;
}

.time {
  color: #999;
  padding-top: 0.5rem;
}

.game {
  min-width: 22rem;
  min-height: 2rem;
  padding: 0.25rem;
  display: flex;
}

.home {
  width: 8rem;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.away {
  width: 8rem;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.input {
  width: 2rem;
  margin: 0 0.25rem;
  text-align: center;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

.at {
  text-align: center;
  min-width: 1.5rem;
  line-height: 2.5rem;
}

@media screen and (min-width: 900px) {
  .schedule-inner {
    grid-template-columns: repeat(auto-fill, minmax(39rem, 1fr));
    grid-gap: 1rem;
  }

  .game {
    min-width: 35rem;
    min-height: 2rem;
    padding: 0.25rem;
    display: flex;
  }

  .home {
    min-width: 16rem;
  }

  .away {
    min-width: 16rem;
  }
}
